/* import major sass files */
/* idenity color */
/** experimental grid mixins **/
/** experimental grid mixins **/
/** experimenta responsive breakpoints **/
/* Start Global rules */
/* reusable components */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid #19c8fa;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

/* end global rules */
/* ===== Manual Responsive ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ===== Manual Responsive ===== */
/* dark mode formatting */
:root {
  --dark: #333;
  --white: #fff;
}

.dark {
  --dark: #fff;
  --white: #333;
}

/* dark mode formatting */
body {
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
}

header .logo {
  position: relative;
  font-size: 24px;
  color: var(--dark);
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

header .btns-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .btns-box .btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .btns-box .btns i {
  color: var(--dark);
  font-size: 24px;
}

header .btns-box .day-light i:nth-child(1) {
  display: block;
}

header .btns-box .day-light i:nth-child(2) {
  display: none;
}

header .btns-box .menu-toggle i:nth-child(1) {
  display: block;
}

header .btns-box .menu-toggle i:nth-child(2) {
  display: none;
}

header .btns-box i {
  cursor: pointer;
}

header .btns-box .day-light.active i:nth-child(1) {
  display: none;
}

header .btns-box .day-light.active i:nth-child(2) {
  display: block;
}

header .btns-box .menu-toggle.active i:nth-child(1) {
  display: none;
}

header .btns-box .menu-toggle.active i:nth-child(2) {
  display: block;
}

/* video */
.main {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  mix-blend-mode: screen;
  z-index: 2;
}

body.dark .main .mask {
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: multiply;
}

/* video */
/* navigation */
.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.navigation.active {
  left: 0;
}

.navigation li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 25px;
  color: var(--dark);
  margin: 10px 15px;
  text-transform: capitalize;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 30px;
  padding: 10px 25px;
}

.navigation li a:hover {
  background-color: var(--dark);
  color: var(--white);
}

/* navigation */
/*# sourceMappingURL=main.css.map */