/* import major sass files */

@import "sass/variables";
@import "sass/mixins";
@import "sass/breakpoints";
@import "sass/buttons";

/* Start Global rules */

/* reusable components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid $mainColor;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}
/* end global rules */

/* ===== Manual Responsive ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive ===== */

/* dark mode formatting */
:root {
  --dark: #333;
  --white: #fff;
}

.dark {
  --dark: #fff;
  --white: #333;
}
/* dark mode formatting */

body {
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-in-out;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
  @include mobile {
    padding: 40px 20px;
  }
  .logo {
    position: relative;
    font-size: 24px;
    color: var(--dark);
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .btns-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    .btns {
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        color: var(--dark);
        font-size: 24px;
      }
    }
    .day-light i:nth-child(1) {
      display: block;
    }
    .day-light i:nth-child(2) {
      display: none;
    }
    .menu-toggle i:nth-child(1) {
      display: block;
    }
    .menu-toggle i:nth-child(2) {
      display: none;
    }
    i {
      cursor: pointer;
    }
    .day-light.active i:nth-child(1) {
      display: none;
    }
    .day-light.active i:nth-child(2) {
      display: block;
    }
    .menu-toggle.active i:nth-child(1) {
      display: none;
    }
    .menu-toggle.active i:nth-child(2) {
      display: block;
    }
  }
}

/* video */
.main {
  position: relative;
  min-height: 100vh;
  width: 100%;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;
    mix-blend-mode: screen;
    z-index: 2;
  }
}
body.dark .main .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}
/* video */

/* navigation */
.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  transition: 0.5s ease-in-out;
  z-index: 4;
  &.active {
    left: 0;
  }

  li a {
    display: inline-flex;
    font-size: 25px;
    color: var(--dark);
    margin: 10px 15px;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    border-radius: 30px;
    padding: 10px 25px;

    &:hover {
      background-color: var(--dark);
      color: var(--white);
    }
  }
}

.socials {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    right: 20px;
  }
  i {
    color: var(--dark);
    font-size: 24px;
    padding: 10px;
    transition: 0.1 s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/* navigation */
